<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d [%thread] %.-1level %logger{64} - %msg %n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="org.apache" level="OFF" />
    <logger name="org.springframework" level="OFF" />
    <logger name="org.I0Itec" level="OFF" />
    <logger name="kafka" level="OFF" />
    <logger name="state.change.logger" level="OFF" />
    <logger name="org.eclipse" level="OFF" />
    <logger name="org.hibernate" level="OFF" />
</configuration>